<!DOCTYPE html>
<html>
<head lang="pt-br">
	<title>Notícias Cidade - <%= noticias[0].title %></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body id="noticia">
	<div id="container">
		<img src="images/assets/logo.png">
		<ul>
			<li class="home"> <a href="/">Home</a> </li>
			<li class="brasil"> <a href="/brasil">Brasil</a> </li>
			<li class="internacional"> <a href="/internacional">Internacional</a></li>
			<% const ctgs = ["politica", "economia", "saude"]; %>
			<li class="politica">
				<a href="/politica?ctg=<%= ctgs[0]%>">Política</a></li>
			<li class="economia">
				<a href="/economia?ctg=<%= ctgs[1]%>">Economia</a></li>
			<li class="saude"> <a href="/saude?ctg=<%= ctgs[2]%>">Saúde</a> </li>
			<li class="entrevistas"> <a href="/entrevistas">Entrevistas</a> </li>
		</ul>
		<div class="clear"></div>
	</div>

	<div id="principal"> <!-- início principal -->
		

		<div class="coluna-principal"> <!-- início coluna do meio -->
			<div class="caixa">
				<h2><%= noticias[0].title %></h2>
				<div class="conteudo-principal">
					<h3>
						Autor: <%= noticias[0].autor %>
					</h3>
					<br>
					<h3>
						Data: 
							<%= noticias[0].notice_date.getDate()%>/
							<%= noticias[0].notice_date.getMonth()%>/
							<%= noticias[0].notice_date.getFullYear()%>
					</h3>
					<img src="<%= noticias[noticias.length-1].cover_path %>">
					<div>
						<% const paragrafos = noticias[0].notice_text.split("\n") %>
						<% for(var i = 0; i < paragrafos.length; i++){ %>
							<p><%= paragrafos[i] %></p>
						<% } %>
					</div>
					
				</div>
			</div>
		</div> <!-- fim coluna do meio -->
	</div>

	<div id="rodape" style="clear: both;">
		<span>
			&copy; Copyright 2000-2018 Notícias Cidade
		</span>
	</div>
	
</body>
</html>