<!DOCTYPE html>
<html>
<head lang="pt-br">
	<title>Notícias Cidade - <%= noticias[0].title %></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>
<body id="noticia">
	<div id="container">
		<img src="images/assets/logo.png">
		<ul>
			<li class="home"> <a href="/">Home</a> </li>
			<li class="brasil"> <a href="/brasil">Brasil</a> </li>
			<li class="internacional"> <a href="/internacional">Internacional</a></li>
			<% const ctgs = ["politica", "economia", "saude"]; %>
			<li class="politica"><a href="/politica?ctg=<%= ctgs[0]%>">Política</a></li>
			<li class="economia"><a href="/economia?ctg=<%= ctgs[1]%>">Economia</a></li>
			<li class="saude"> <a href="/saude?ctg=<%= ctgs[2]%>">Saúde</a> </li>
			<li class="entrevistas"> <a href="/entrevistas">Entrevistas</a> </li>
		</ul>
		<div class="clear"></div>
	</div>

	<div id="principal"> <!-- início principal -->
		

		<div class="coluna-principal"> <!-- início coluna do meio -->
			<div class="caixa">
				<h2><%= noticias[0].title %></h2>
				<div class="conteudo-principal">
					<h3>
						Autor: <%= noticias[0].autor %>
					</h3>
					<br>
					<h3>
						Data: 
							<%= noticias[0].news_date.getDate()%>/
							<%= noticias[0].news_date.getMonth()%>/
							<%= noticias[0].news_date.getFullYear()%>
					</h3>
					<img src="<%= noticias[0].cover_path %>">
					<% const paragrafos = noticias[0].notice_text.split("\n") %>
					<% for(var i = 0; i < paragrafos.length; i++){ %>
						<p><%= paragrafos[i] %></p>
					<% } %>
					
					<% if(noticias.length > 1) { %>
						<center>
							<figure>
								<input type="hidden" id="image-id"
								value="<%= noticias[1].id %>">
								<img src="<%= noticias[1].img_path %>" alt="Images"
								usemap="#images" id="image">
								<map name="images">
	  								<area shape="rect" coords="0,0,50,426" alt="Previus"
	  								id="prev" onclick="prev_img()">
	  								<area shape="rect" coords="590,0,640,426" alt="Next"
	  								id="next" onclick="next_img()">
								</map>
								<figcaption id="img-description">
									<%= noticias[1].img_description %></figcaption>
							</figure>
						</center>
					<% } %>
				</div>
			</div>
		</div> <!-- fim coluna do meio -->
	</div>

	<div id="rodape" style="clear: both;">
		<span>
			&copy; Copyright 2000-2018 Notícias Cidade
		</span>
	</div>

	<script type="text/javascript">
		var k = 0;
		var imgs_noticia = [];

		<%for(var x = 1; x < noticias.length; x++){ %>
			imgs_noticia.push({id: <%= noticias[x].id %>,
				img_path: "<%= noticias[x].img_path %>",
				img_description: "<%= noticias[x].img_description %>"});
		<% } %>

		function next_img(){
			k = k +1;
			document.getElementById("image-id").value = imgs_noticia[k].id;
			document.getElementById("image").src = imgs_noticia[k].img_path;
			document.getElementById("img-description").innerHTML = imgs_noticia[k].img_description;
		}

		function prev_img(){
			k = k -1;
			document.getElementById("image-id").value = imgs_noticia[k].id;
			document.getElementById("image").src = imgs_noticia[k].img_path;
			document.getElementById("img-description").innerHTML = imgs_noticia[k].img_description;
		}
		
	</script>
	
</body>
</html>